@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page {
    height: 100%;
    width: 100%;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.logo {
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--light-dark-color);
}

.logo p {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.logo p span {
    color: rgb(234, 186, 30);
}

nav ul li button {
    transform: translate(-50%, -50%);
    margin-top: 31px;
    margin-left: 50%;
    text-align: center;
    font-size: 30px;
    color: rgb(41, 235, 19);
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}

nav ul li button:hover {
    color: aqua;
}


/* SignIn form */

#login-form {
    display: none;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgba(0, 0, 0, 0, 3);
    padding: 10px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #75b9f4;
    border-radius: 30px;
    transition: .5s;
}

.input-group-signin {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-signup {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    font-size: 15px;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(220, 208, 208);
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #598cea;
    border: 0;
    outline: none;
    border-radius: 30px;
}

#signin {
    left: 50px;
}

#signin input {
    color: rgb(244, 235, 68);
    font-size: 15;
}

#signup {
    left: 450px;
}

#signup input {
    color: white;
    font-size: 15;
}

.loginbtn {
    background-color: black;
    padding: 14px 12px;
    border-radius: 10px;
    font-size: 28px;
    font-family: 'Silkscreen', cursive;
}